.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  margin-top: 8px;
  font-size: 1rem;
}

.card-content {
  margin-top: 10px;
}
img {
  border-radius: 10px;
}
